<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit your post</h1>
    <h3>username :@<%= post.username %>
    </h3>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" id="">
        <%= post.content %>
    </textarea>
    <br>
    <br>
    <button>Edit post</button>
    </form>

    <a href="http://localhost:8080/posts">Back to home</a>
</body>

</html>